flask==3.0.3
pymongo==4.3.3
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.2.2
python-dotenv==1.0.0
certifi==2022.12.7
matplotlib==3.7.1
apscheduler==3.10.1
gunicorn==21.2.0
flask-cors==4.0.0
werkzeug==2.0.1
requests==2.26.0